# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environments
.venv/
venv/
ENV/

# Databases


# User uploaded media
pulsex/media/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Archives
*.zip
*.tar.gz
